/* Estilos para ConsultarRegistrosForm */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form h2 {
    text-align: center;
    color: #333;
  }
  
  .form-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  .form-message {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
  }
  
  /* .result-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .result-table th, .result-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .result-table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .result-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
   */
   .result-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; /* Colapsa bordes para un estilo más limpio */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para resaltar la tabla */
    border-radius: 8px; /* Bordes redondeados para suavizar la apariencia */
    overflow: hidden; /* Asegura que los bordes redondeados se muestren correctamente */
  }
  
  .result-table th,
  .result-table td {
    padding: 10px;
    border: 1px solid #ddd; /* Color de borde suave */
    text-align: center; /* Centra el texto */
  }
  
  .result-table th {
    background-color: #007bff; /* Color de fondo para el encabezado */
    color: #fff; /* Color de texto del encabezado */
    font-weight: bold; /* Aumenta el peso de la fuente del encabezado */
  }
  
  .result-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alterno para filas */
  }
  
  .result-table tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el ratón sobre la fila */
  }
  